/* .brand-logo{
  font-family: 'Cinzel', serif;
}
.description{
  font-family: 'Oswald','Playfair Display','Questrial', sans-serif, serif;
  line-height: 40px
} */
.gallery-header{
  background-color: #37474f !important;
  color: white !important;
}

@media Screen and ( max-height: 600px) {
  .nav-header{
    margin-top: 10%;
  }
}
