<div class="row">
<div class="col l4 m6 s12 gallery-item gallery-expand gallery-filter projects">
  <div class="gallery-curve-wrapper">
    <a class="gallery-cover gray">
      <img class="responsive-img" src="/img/feeltoreel.png" alt="placeholder">
    </a>
    <div class="gallery-body">
      <div class="title-wrapper">
        <h3><b>
          Feel to Reel
        <b></h3>
      </div>
      <br>
      <p class="description">
        A web app that allows users to use their device camera to take a picture of their current mood and get movies suggestions base on their mood.
      </p>
      <p class="description">
        worked on a team, Responsible for the responsive front-end design using different technologies:
        HTML, CSS, JavaScript and Media Queries.  as well as libraries: Materializer & GreenSock.
      </p>
      <br>
      <ul class="categories container">
        <li class="active  col s12 m6 l3 offset-m1 offset-l2"><a href="https://feel-to-reel.firebaseapp.com/" target="_black">DEMO</a></li>
        <li class="active  col s12 m6 l3 offset-m1 offset-l2"><a href="https://github.com/hcandelaria/Movie-Feels" target="_blank">GitHub</a></li>
      </ul>
      <br>
      <div class="carousel-wrapper">
          <div class="carousel">
            <a class="carousel-item" href="#one!"><img src="/img/feeltoreel.png"></a>
            <a class="carousel-item" href="#two!"><img src="/img/feeltoreel01.png"></a>
            <a class="carousel-item" href="#three!"><img src="/img/feeltoreel02.png"></a>
            <a class="carousel-item" href="#four!"><img src="/img/feeltoreel03.png"></a>
            <a class="carousel-item" href="#five!"><img src="/img/feeltoreel04.png"></a>
          </div>
      </div>
    </div>
    <div class="gallery-action">
    </div>
  </div>
  <div class="gallery-header hide-on-med-and-up">
    <h5 class="center-align">Feel to Reel</h5>
  </div>
</div>
<div class="col l4 m6 s12 gallery-item gallery-expand gallery-filter projects">
  <div class="gallery-curve-wrapper">
    <a class="gallery-cover gray">
      <img class="responsive-img" src="/img/barberscheduler.png" alt="placeholder">
    </a>
    <div class="gallery-body">
      <div class="title-wrapper">
        <h3><b>
          Barber Scheduler
        <b></h3>
      </div>
      <br>
      <p class="description">
        Barber Scheduler is a web app which enhances both clients and barbers experience by providing multiple tools.
      </p>
      <p class="description">
        worked on a team, Responsible for the back-end design using different technologies:
        MySQL, express, sequelize, sequelizejs, routes.
      </p>
      <br>
      <ul class="categories container">
        <li class="active  col s12 m6 l3 offset-m1 offset-l2"><a href="https://mighty-crag-92193.herokuapp.com/">DEMO</a></li>
        <li class="active  col s12 m6 l3 offset-m1 offset-l2"><a href="https://github.com/hcandelaria/Barber-Shop">GitHub</a></li>
      </ul>
      <br>
      <div class="carousel-wrapper">
          <div class="carousel">
            <a class="carousel-item" href="#one!"><img src="/img/db.png"></a>
            <a class="carousel-item" href="#two!"><img src="/img/barberscheduler.png"></a>
            <a class="carousel-item" href="#three!"><img src="/img/barberscheduler01.png"></a>
            <a class="carousel-item" href="#four!"><img src="/img/barberscheduler02.png"></a>
            <a class="carousel-item" href="#five!"><img src="/img/barberscheduler03.png"></a>
            <a class="carousel-item" href="#six!"><img src="/img/barberscheduler04.png"></a>
            <a class="carousel-item" href="#seven!"><img src="/img/barberscheduler05.png"></a>
            <a class="carousel-item" href="#eight!"><img src="/img/barberscheduler06.png"></a>
          </div>
      </div>
    </div>
    <div class="gallery-action">
    </div>
  </div>
  <div class="gallery-header hide-on-med-and-up">
    <h5 class="center-align">Barber Scheduler</h5>
  </div>
</div>
</div>
