<div class="col l4 m6 s12 gallery-item gallery-expand gallery-filter education">
  <div class="gallery-curve-wrapper">
    <a class="gallery-cover gray">
      <img class="responsive-img" src="/img/education/rutgers-university.jpg" alt="placeholder">
    </a>
    <div class="gallery-body">
      <div class="title-wrapper">
        <h3><b>Rutgers University<b></h3>
      </div>
      <div class="description">
        <i>Aug 2017 - Feb 2018
        <br>
          Rutgers Coding Program- Javascript Full Stack Web Development
        </i>
      </div>
      <p class="description">
        An intensive 24-week long program dedicated to designing and building web applications.
        Skills learned consisted of HTML5, CSS3, Javascript, JQuery, Bootstrap, Firebase, Node.js,
        MySQL, MongoDB, Express, Handlebars JS, & React Js.
      </p>

      <!-- <div class="carousel-wrapper">
          <div class="carousel">
            <a class="carousel-item" href="#one!"><img src="/img/education/rutgers-university04.jpg"></a>
            <a class="carousel-item" href="#two!"><img src="/img/education/rutgers-university.jpg"></a>
            <a class="carousel-item" href="#three!"><img src="/img/education/rutgers-university01.jpg"></a>
            <a class="carousel-item" href="#four!"><img src="/img/education/rutgers-university02.jpg"></a>
            <a class="carousel-item" href="#five!"><img src="/img/education/rutgers-university03.jpg"></a>
          </div>
      </div> -->
    </div>
    <div class="gallery-action">
    </div>
  </div>
  <div class="gallery-header hide-on-med-and-up">
    <h5 class="center-align">Rutgers</h5>
  </div>
</div>

<div class="col l4 m6 s12 gallery-item gallery-expand gallery-filter education">
  <div class="gallery-curve-wrapper">
    <a class="gallery-cover gray">
      <img class="responsive-img" src="/img/education/mcc.png" alt="placeholder">
    </a>
    <div class="gallery-body">
      <div class="title-wrapper">
        <h3><b>Middlesex County college<b></h3>
      </div>
      <div class="description">
        <i>present
        <br>
          Computer Sciences - transfer
        </i>
      </div>
      <p class="description">
      </p>

    </div>
    <div class="gallery-action">
    </div>
  </div>
  <div class="gallery-header hide-on-med-and-up">
    <h5 class="center-align">Middlesex</h5>
  </div>
</div>
