
<div class="row">
  <div class="col l4 m6 s12 gallery-item gallery-expand gallery-filter projects">
    <div class="gallery-curve-wrapper">
      <a class="gallery-cover gray">
        <img class="responsive-img" src="/img/feeltoreel/feeltoreel.png" alt="placeholder">
      </a>
      <div class="gallery-body">
        <div class="title-wrapper">
          <h3><b>
            Feel to Reel
          <b></h3>
        </div>
        <br>
        <p class="description">
          A web app that allows users to use their device camera to take a picture of their current mood and get movies suggestions base on their mood.
        </p>
        <p class="description">
          worked on a team, Responsible for the responsive front-end design using different technologies:
          HTML, CSS, JavaScript and Media Queries.  as well as libraries: Materializer & GreenSock.
        </p>
        <br>
        <ul class="categories container">
          <li class="active  col s12 m6 l3 offset-m1 offset-l2"><a href="https://feel-to-reel.firebaseapp.com/" target="_black">DEMO</a></li>
          <li class="active  col s12 m6 l3 offset-m1 offset-l2"><a href="https://github.com/hcandelaria/Movie-Feels" target="_blank">GitHub</a></li>
        </ul>
        <br>
        <div class="carousel-wrapper">
            <div class="carousel">
              <a class="carousel-item" href="#one!"><img src="/img/feeltoreel/feeltoreel.png"></a>
              <a class="carousel-item" href="#two!"><img src="/img/feeltoreel/feeltoreel01.png"></a>
              <a class="carousel-item" href="#three!"><img src="/img/feeltoreel/feeltoreel02.png"></a>
              <a class="carousel-item" href="#four!"><img src="/img/feeltoreel/feeltoreel03.png"></a>
              <a class="carousel-item" href="#five!"><img src="/img/feeltoreel/feeltoreel04.png"></a>
            </div>
        </div>
      </div>
      <div class="gallery-action">
      </div>
    </div>
    <div class="gallery-header hide-on-med-and-up">
      <h5 class="center-align">Feel to Reel</h5>
    </div>
  </div>
  <div class="col l4 m6 s12 gallery-item gallery-expand gallery-filter projects">
    <div class="gallery-curve-wrapper">
      <a class="gallery-cover gray">
        <img class="responsive-img" src="/img/barberscheduler/barberscheduler.png" alt="placeholder">
      </a>
      <div class="gallery-body">
        <div class="title-wrapper">
          <h3><b>
            Barber Scheduler
          <b></h3>
        </div>
        <br>
        <p class="description">
          Barber Scheduler is a web app which enhances both clients and barbers experience by providing multiple tools.
        </p>
        <p class="description">
          worked on a team, Responsible for the back-end design using different technologies:
          MySQL, express, sequelize, sequelizejs, routes.
        </p>
        <br>
        <ul class="categories container">
          <li class="active  col s12 m6 l3 offset-m1 offset-l2"><a href="https://mighty-crag-92193.herokuapp.com/" target="_black">DEMO</a></li>
          <li class="active  col s12 m6 l3 offset-m1 offset-l2"><a href="https://github.com/hcandelaria/Barber-Shop" target="_black">GitHub</a></li>
        </ul>
        <br>
        <div class="carousel-wrapper">
            <div class="carousel">
              <a class="carousel-item" href="#one!"><img src="/img/barberscheduler/db.png"></a>
              <a class="carousel-item" href="#two!"><img src="/img/barberscheduler/barberscheduler.png"></a>
              <a class="carousel-item" href="#three!"><img src="/img/barberscheduler/barberscheduler01.png"></a>
              <a class="carousel-item" href="#four!"><img src="/img/barberscheduler/barberscheduler02.png"></a>
              <a class="carousel-item" href="#five!"><img src="/img/barberscheduler/barberscheduler03.png"></a>
              <a class="carousel-item" href="#six!"><img src="/img/barberscheduler/barberscheduler04.png"></a>
              <a class="carousel-item" href="#seven!"><img src="/img/barberscheduler/barberscheduler05.png"></a>
              <a class="carousel-item" href="#eight!"><img src="/img/barberscheduler/barberscheduler06.png"></a>
            </div>
        </div>
      </div>
      <div class="gallery-action">
      </div>
    </div>
    <div class="gallery-header hide-on-med-and-up">
      <h5 class="center-align">Barber Scheduler</h5>
    </div>
  </div>
  <div class="col l4 m6 s12 gallery-item gallery-expand gallery-filter projects">
    <div class="gallery-curve-wrapper">
      <a class="gallery-cover gray">
        <img class="responsive-img" src="/img/scrapenews/scrapenews.png" alt="placeholder">
      </a>
      <div class="gallery-body">
        <div class="title-wrapper">
          <h3><b>
            Scraper News
          <b></h3>
        </div>
        <br>
        <p class="description">
          A web app that scrapes articles from hacker news which can then be saved in MongoDB for easier access and additional notes.
        </p>
        <p class="description">
          Independent project responsible for the overall performances of the app while
          implementing new technologies and npm packages. Technologies: MongoDB,
          Mongoose.js, handlebars, etc.
        </p>
        <br>
        <ul class="categories container">
          <li class="active  col s12 m6 l3 offset-m1 offset-l2"><a href="https://afternoon-anchorage-79574.herokuapp.com/" target="_black">DEMO</a></li>
          <li class="active  col s12 m6 l3 offset-m1 offset-l2"><a href="https://github.com/hcandelaria/reading-list.git" target="_blank">GitHub</a></li>
        </ul>
        <br>
        <div class="carousel-wrapper">
            <div class="carousel">
              <a class="carousel-item" href="#one!"><img src="/img/scrapenews/scrapenews.png"></a>
              <a class="carousel-item" href="#two!"><img src="/img/scrapenews/scrapenews01.png"></a>
              <a class="carousel-item" href="#three!"><img src="/img/scrapenews/scrapenews02.png"></a>
              <a class="carousel-item" href="#four!"><img src="/img/scrapenews/scrapenews03.png"></a>
              <a class="carousel-item" href="#five!"><img src="/img/scrapenews/scrapenews04.png"></a>
            </div>
        </div>
      </div>
      <div class="gallery-action">
      </div>
    </div>
    <div class="gallery-header hide-on-med-and-up">
      <h5 class="center-align">Clicky Game</h5>
    </div>
  </div>
  <div class="col l4 m6 s12 gallery-item gallery-expand gallery-filter projects">
    <div class="gallery-curve-wrapper">
      <a class="gallery-cover gray">
        <img class="responsive-img" src="/img/clicky-game/clicky-game.png" alt="placeholder">
      </a>
      <div class="gallery-body">
        <div class="title-wrapper">
          <h3><b>
            Clicky Game
          <b></h3>
        </div>
        <br>
        <p class="description">
          gotta catch em all! On this game app you have to try to catch em all ONCE and try to get the highest score.
        <p class="description">
          worked on this game for fun to practice and get more familiar with react.js, JSX.
        </p>
        <br>
        <ul class="categories container">
          <li class="active  col s12 m6 l3 offset-m1 offset-l2"><a href="https://fast-ridge-44681.herokuapp.com/" target="_black">DEMO</a></li>
          <li class="active  col s12 m6 l3 offset-m1 offset-l2"><a href="https://github.com/hcandelaria/clicky-game.git" target="_blank">GitHub</a></li>
        </ul>
        <br>
        <div class="carousel-wrapper">
            <div class="carousel">
              <a class="carousel-item" href="#one!"><img src="/img/clicky-game/clicky-game.png"></a>
              <a class="carousel-item" href="#two!"><img src="/img/clicky-game/clicky-game01.png"></a>
              <a class="carousel-item" href="#three!"><img src="/img/clicky-game/clicky-game02.png"></a>
            </div>
        </div>
      </div>
      <div class="gallery-action">
      </div>
    </div>
    <div class="gallery-header hide-on-med-and-up">
      <h5 class="center-align">Clicky Game</h5>
    </div>
  </div>
  <div class="col l4 m6 s12 gallery-item gallery-expand gallery-filter projects">
    <div class="gallery-curve-wrapper">
      <a class="gallery-cover gray">
        <img class="responsive-img" src="/img/inventory assistant/inventoryassistant.png" alt="placeholder">
      </a>
      <div class="gallery-body">
        <div class="title-wrapper">
          <h3><b>
            Inventory Assistant
          <b></h3>
        </div>
        <br>
        <p class="description">
          Inventory Assistant is your real time sales tracker. Inventory Assistant's objective is to help the freelancer keep track of inventory,
          without having to pay a full time assistant.
        </p>
        <p class="description">
          Notice which one of your products are quickly flying off the shelves,
          and identifiying which products might need that extra push, without having to pay a ton of money for a VP of marketing.
        </p>
        <p class="description">
          worked on as team, Responsible for the back-end & connecting the front-end and back-end. Technologies: reactjs, recharj, mongoose,
          material-ui, passport, jsonwebtoken, bcrypt, express.
        </p>
        <br>
        <ul class="categories container">
          <li class="active  col s12 m6 l3 offset-m1 offset-l2"><a href="https://damp-sea-65164.herokuapp.com/" target="_black">DEMO</a></li>
          <li class="active  col s12 m6 l3 offset-m1 offset-l2"><a href="https://github.com/hcandelaria/Finalproject" target="_blank">GitHub</a></li>
        </ul>
        <br>
        <div class="carousel-wrapper">
            <div class="carousel">
              <a class="carousel-item" href="#one!"><img src="/img/inventory assistant/inventoryassistant.png"></a>
              <a class="carousel-item" href="#two!"><img src="/img/inventory assistant/inventoryassistant01.png"></a>
              <a class="carousel-item" href="#three!"><img src="/img/inventory assistant/inventoryassistant02.png"></a>
              <a class="carousel-item" href="#four!"><img src="/img/inventory assistant/inventoryassistant03.png"></a>
            </div>
        </div>
      </div>
      <div class="gallery-action">
      </div>
    </div>
    <div class="gallery-header hide-on-med-and-up">
      <h5 class="center-align">Inventory Assistant</h5>
    </div>
  </div>
</div>
