
<body class="blue-grey darken-4">
  {{>navBar}}
  <!-- Gallery -->

  <div id="portfolio" class="section gray">
    <div class="gallery row">
      <!--Education-->
      {{>education}}

      <!--Projects-->
      {{>projects}}

      <!--sacred-->
      {{!>sacred}}

    </div>

  </div><!-- /.container -->

</body>
