<div class="col-md-6 col-md-offset-3">
    <div id="homeBody" class="container">
      <div class="row">
        <div class="col s12 m6" *ngFor='let project of projects'>
          <div class="card">
            <div class="card-image">
              <a (click)="openModal('projectsModal')"attr.data-sectionvalue="{{project.name}}">
                <img src="assets/img/{{project.img}}/{{project.img}}0.png/">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<modal id="projectsModal">
    <div class="modal">
        <div class="modal-body">
            <h1>A Custom Modal!</h1>
            <p>
            </p>
            <button (click)="closeModal('projectsModal');">Close</button>
        </div>
    </div>
    <div class="modal-background"></div>
</modal>

<modal id="projectsModal2">
    <div class="modal">
        <div class="modal-body">
            <h1 style="height:1000px">A Tall Custom Modal!</h1>
            <button (click)="closeModal('projectsModal2');">Close</button>
        </div>
    </div>
    <div class="modal-background"></div>
</modal>
