/* .welcome-word{
  font-size: 75px;
}
.welcome-paragraph{
  font-size: 50px;
}
.container{
  margin-top: 10%;
} */

@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 90vh;
	
	svg {
		max-width: 45rem;
		width: 100%;
		height: auto;
		fill: none;
		stroke: #000000;
		stroke-width: 4;
		position: relative;
		left: 10%;
		tspan > tspan {
			stroke-dasharray: 1500;
			stroke-dashoffset: -1500;
			
			@for $i from 1 through 7 {
				
				&:nth-of-type(#{$i}) {
					animation: draw 300ms #{$i * 250}ms forwards;
				}
				
			}
			
		}
		
	}
	
}

@keyframes draw {
	
	100% {
		stroke-dashoffset: 0;
	}
	
}