<!-- <div class="container">
  <div class="row">
    <div class="col m1 l2"></div>
    <div class="col s12 m10 l8">
        <div class="center-align">
          <h3>&#60;body</h3>
          <p class="welcome-paragraph">
            <span class="welcome-word">Hi!</span>
            My name is Hector Candelaria. I'm a full stack web developer.
          </p>
          <h3>&#8725;&#62;</h3>
        </div>
      </div>
    <div class="col m1 l2"></div>
  </div>
</div> -->
<div class="container">
	<svg class="row" viewBox="0 0 1418 116" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		<g stroke="none" fill="none" fill-rule="evenodd" fill-opacity="0">
			<text class="center-align" id="welcome" stroke="#000000" fill="#645F5A" font-weight="normal" font-family="PermanentMarker-Regular, Permanent Marker" font-size="144">
				<tspan  x="3" y="109"><!--
					--><tspan>W</tspan><!--
					--><tspan>E</tspan><!--
					--><tspan>L</tspan><!--
					--><tspan>C</tspan><!--
					--><tspan>O</tspan><!--
					--><tspan>M</tspan><!--
					--><tspan>E</tspan><!--

				--></tspan>
			</text>
		</g>
	</svg>

</div>